<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
    </configSections>
    
    <connectionStrings>
        <add name="BalloonShopConnection" connectionString="Data Source=.\SQLEXPRESS; Database=BalloonShop; User=balloonshop; Password=ecommerce;" providerName="System.Data.SqlClient" />
        <add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
            <error statusCode="404" redirect="~/NotFound.aspx" />
            <error statusCode="500" redirect="~/Error.aspx" />
        </customErrors>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
        </authentication>

        <membership>
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
            </providers>
        </membership>

        <pages theme="BalloonShopDefault" />

        <profile>
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
            </providers>
        </profile>

        <roleManager enabled="false">
            <providers>
                <clear />
                <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
            </providers>
        </roleManager>

        <httpModules>
            <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter" />
        </httpModules>
    </system.web>

    <appSettings>
        <add key="MailServer" value="localhost" />
        <add key="MailUsername" value="" />
        <add key="MailPassword" value="" />
        <add key="MailFrom" value="no-reply@ballonshop.com" />
        <add key="ErrorLogEmail" value="errors@ballonshop.com" />
        <add key="EnableErrorLogEmail" value="false" />

        <add key="ProductsPerPage" value="6" />
        <add key="ProductDescriptionLength" value="60" />
        <add key="SiteName" value="BalloonShop" />

        <add key="Bookmark" value="176-177" />
    </appSettings>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <rewriter>
        <!--<redirect url="~/Default.aspx" to="~/Default" />
        <redirect url="~/Login.aspx" to="~/Login" />-->
        
        <!-- Department pages -->
        <rewrite url="^.*-d([0-9]+)/?$" to="~/Catalog.aspx?DepartmentID=$1" processing="stop" />
        <rewrite url="^.*-d([0-9]+)/page-([0-9]+)?$" to="~/Catalog.aspx?DepartmentID=$1&amp;Page=$2" processing="stop" />

        <!-- Category pages -->
        <rewrite url="^.*-d([0-9]+)/.*-c([0-9]+)/?$" to="~/Catalog.aspx?DepartmentID=$1&amp;CategoryID=$2" processing="stop" />
        <rewrite url="^.*-d([0-9]+)/.*-c([0-9]+)/page-([0-9]+)?$" to="~/Catalog.aspx?DepartmentID=$1&amp;CategoryID=$2&amp;Page=$3" processing="stop" />
        
        <!-- Product details pages -->
        <rewrite url="^.*-p([0-9]+)/?$" to="~/Product.aspx?ProductID=$1" processing="stop" />
    </rewriter>
</configuration>
